*{
    margin: 0;
    padding: 0;
}
html{ 
display:inline-block;
overflow-x: hidden
}
body{
    background: none;
    background-color: black;

}
.encabezado{
    display: flex;
    flex-direction: column;
}

.encabezado nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 15px;
}
.encabezado nav img{
    width: 15%;
}
.navegacion{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navegacion li a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    font-family: 'Prata', serif;

}
.navegacion li a:hover{
    background: orange;
    

}

    
main{
    display: grid;
    justify-content: center;
   align-items: center;
   
}
.contenedor {

padding: 2rem;
    width:100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px , 200px;
    gap: 20px;
   
   
   
   
}
.boton-uno{
    margin: 0 50px;
    position: relative;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    background: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    font-family:'Prata', serif;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    
    
}

.boton-dos{

    margin: 0 50px;
    position: relative;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    background:white;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    font-family:'Prata', serif;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton-tres{
    margin: 0 50px;
    position: relative;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    background: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    font-family:'Prata', serif;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton-cuatro{
    margin: 0 50px;
    position: relative;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    background: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    font-family:'Prata', serif;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

  




button:hover span {
    left: -5%;
}

button:hover {

    background: orange;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
}
.redes{
    position: relative;
    right: -125%;
    top: 100%;
    font-family: 'Prata', serif;
    font-size: 14,5rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    z-index: 100;
    transform: scale(2);
   

}
.icon{
    color: black;
    text-decoration: none;
    padding: .55rem;
    display: grid;
    transition: all .5s;
    
}
.icon-facebook:hover{
    background: rgb(2, 2, 136);
    border-radius: 4rem 0 0 0;
   

}
.icon-instagram:hover{
    background: rgb(230, 55, 113);
   
    
    
}
.icon-whatsapp:hover{
    background: rgb(56, 228, 56);

}
.icon-twitter:hover{
    background: rgb(29, 209, 215);
}
.icon-youtube:hover{
    background: red;
    border-radius: 0 0 0 5rem;

    }
    .icon:first-child{
        border-radius: 5rem 0 0 0 ;
        }
        
        .icon:last-child{
            border-radius: 0 0 0 5rem;
        
            }
            .icon:hover{
                padding-right: 2rem;
                border-radius: 2rem 0 0 2rem;
                box-shadow: 2,5rem rgba(red, green, blue, alpha);
            }
            h2{
                position: relative;
                right: -78%;
               top: 100%;
               color: black;
               font-size: 5,6;
               font-family:'Prata', serif;
 
 }            

body{
    background-image: url(../IMAGENES/fondo\ beer\ corregido\ .jpg);
}

.form-register {
    width: 400px;
    background:black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Prata', serif;
    color: white;
    box-shadow: 7px 13px 37px orange;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    align-content: center;
  }
  
  .controls {
    width: 100%;
    background: rgb(59, 55, 55);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'Prata', serif;
    font-size: 18px;
  
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Prata', serif;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
    font-family: 'Prata', serif;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #e78632;
    border: none;
    padding: 45px;
    color: white;
    margin: 16px 0;
    font-size: 20px;
  }
  
  .sucursales iframe{
      
    display: flex
  }
 p{
    font-family: 'Prata', serif;
    font-size: 1.5rem;
    color: orange;
    display: grid;
    justify-content: center;
   align-items: center;
 }


 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria{
    width: 115%;
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto; 
    
  }

.galeria{
    

    
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 4px;
        grid-row-gap: 4px;
        
        }
        
      



.imagen1{
 

height: 300px;
width: 300px;
margin-block-end: 2rem;
transition: 0.4s filter ;
}
.imagen1:hover{
filter: brightness(0.3);
}






            footer{
                 height: 350px;
                top: 350px;
            }